<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href='https://port-0-day0131-1b5xkk2fldld8n8m.gksl2.cloudtype.app/register'>링크회원가입</a>
    <button id="registerBtn">회원가입</button>
    <script>
        document.querySelector('#registerBtn')
        .addEventListener('click', ()=>{
             location.href = 'https://port-0-day0131-1b5xkk2fldld8n8m.gksl2.cloudtype.app/register';
        })
    </script>
</body>
</html>