<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <!-- <link rel="stylesheet" href="/styles/login.css"> -->
</head>
<body>
    <div class="login-container">
        <h1>다음을 입력해주세요.</h1>
        <div class="login-box">
            <form class="userid-form">
                <label for="userId">userid</label>
                <input type="text" id="userId" placeholder="5글자이상 영문자로 입력하세요."
                    autocomplete="off"
                > 
            </form>
            <form class="password-form">
                <label for="userPwd">비밀번호</label>
                <input type="password" id="userPwd" placeholder="문자,숫자,특수문자를 포함한 8자리"> 
            </form>
            <div>
                <a href="/searchId"  id="searchId">아이디 찾기</a> &nbsp; 
                <a href="/searchPwd"  id="searchPwd">비밀번호 찾기</a> &nbsp;
                <a href="/register"  id="registerBtn">회원가입</a>  &nbsp;
            </div>
            <div>
                <button id="loginBtn">로그인</button> 
                <button id="resetBtn">취소</button> 
            </div>
        </div>
    </div>
    <div class="userid-view"></div>
    <!-- <script src="/script/login.js"></script> -->
    <!-- <script>
        loginBtn.addEventListener('click', ()=>{
            // GET :  localhost:3000/login/test01
            // app.get('/login/:userid',

            // const user = {
            //     userId : userId.value,
            //     userPwd : userPwd.value
            // }

            const userId = document.getElementById('userId').value;
            const url = `http://localhost:3000/login/${userId}`;
            fetch(url)
            .then( res => res.json() )
            .then( res => console.log( res ) )
        })
    </script> -->
    <!-- <script src="/script/fetch.js"></script> -->
    <script>
        loginBtn.addEventListener('click', ()=>{
            // GET :  localhost:3000/login 
            // app.post('/login')
            const userId = document.getElementById('userId').value;
            const userPwd = document.getElementById('userPwd').value;

            const user = {  userId, userPwd }
            // 배포 후에 생성된 서버 URL로 주소 변경하기 
            const url = `https://port-0-frontend2301-cf24lcbkizu9.gksl2.cloudtype.app/login`;
            fetch( url,{
            method : 'POST',
                body:JSON.stringify(user),
                headers : {'Content-Type':'application/json;charset=utf-8'}
            })
            .then( res => res.json() )
            .then( res => {
                if( res.success){
                    console.log(res.message.userName);
                    document.querySelector('.userid-view').innerHTML = res.message.userName + '님 환영합니다.';
                    document.querySelector('.login-container').style.display = "none";
                }else{
                    alert(res.message);
                    document.getElementById('userId').value = "";
                    document.getElementById('userPwd').value = "";
                }
            })
        })
    </script>
</body>
</html>