<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <!-- 파비콘 설정 (구시대적 기술) -->
      <link rel="shortcut icon" type="image/x-icon" href="/images/cry.ico" />
      <link rel="apple-touch-icon" href="/images/cry.png" />
      <link rel="stylesheet" href="styles/reset.css">
      <link rel="stylesheet" href="styles/common.css">
</head>

<body>
      <header>
            <div class="hd-container">
                  <a href="#">
                        <h1>LOGO</h1>
                  </a>
                  <nav class="lnb">
                        <ul>
                              <li><a href="/">HOME</a></li>
                              <li><a href="/about">ABOUT</a></li>
                              <li><a href="/info">INFO</a></li>
                              <li><a href="/contact">CONTACT</a></li>
                        </ul>
                  </nav>
            </div>
      </header>
      <h1>about page</h1>
</body>

</html>